@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Gradients-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Gradients-2: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-image: var(--Gradients-2);
}

.App {
  width: 375px;
  height: 800px;
  background-image: var(--Gradients-1);
}

.title {
  padding: 2rem;
}
.title img {
  height: 1.5rem;
}

.main {
  padding: 4rem 2rem;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.main h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 9px;
  color: var(--Dark-Grayish-Red);
}
.main h1 span {
  color: var(--Desaturated-Red);
}
.main p {
  color: var(--Desaturated-Red);
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  line-height: 1.3rem;
}
.email-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  position: relative;
  left: 1.5rem;
}

.email-input img {
  position: relative;
  right: 3.8rem;
  width: 1rem;
  height: 1rem;
  top: 33%;
}
.input {
  position: relative;
  display: inline-block;
}

input[type="email"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--Desaturated-Red);
  outline: none;
  border-radius: 25px 0 0 25px;
  transition: all 0.5s ease;
  font-size: 16px;
  font-weight: 300;
  color: var(--Desaturated-Red);
}
input[type="email"]:focus {
  outline: none;
}
input[type="email"]::placeholder {
  color: var(--Desaturated-Red);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  opacity: 0.5;
}
input[type="submit"] {
  position: relative;
  left: -3.5rem;
  width: 35%;
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease;
  font-size: 20px;
  background-image: var(--Gradients-2);
  cursor: pointer;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  color: white;
}
.error {
  position: absolute;
  left: 1rem;
  bottom: -2rem;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  line-height: 1.3rem;
  color: red;
}
footer p {
  color: var(--Dark-Grayish-Red);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.3rem;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .App {
    width: 815px;
    height: 455px;
    display: flex;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    position: relative;
    right: 5rem;
  }
  .title img {
    height: 2rem;
    width: 9rem;
  }
  img {
    width: 326px;
    height: 100%;
  }
  .main {
    height: 100%;
    align-items: flex-start;
    padding: 2rem;
  }

  .main h1 {
    text-align: left;
    padding: 0 0 0 4rem;
  }

  .main p {
    text-align: left;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1rem;
    padding: 0 0 0 4rem;
  }
  .email-input {
    left: 3.5rem;
  }
  .error {
    font-size: 0.8rem;
    position: absolute;
    bottom: -2rem;
    right: 13rem;
  }
}

/*
 .main {
    margin: 0 3rem;
    padding: 2rem 0;
  }

  .main h1 {
    text-align: left;
  }

  .main p {
    text-align: left;
    padding: 0 0 0 5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1rem;
  }
  .email-input {
    left: 4rem;
  }
  .error {
    position: absolute;
    bottom: 24.5rem;
    left: 26rem;
    font-size: 0.8rem;
  }
*/
